@import url('https://use.fontawesome.com/releases/v5.8.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

:root {
    --font-color: #000000;
    --font-family: 'Amatic SC', cursive;
    --icon-size: 20em;
    --icon-color: #ff0000;
    --title-size: 70px;
    --title-color: #fff;
    --text-size: 50px;
    --text-color: #fff;
}
     
* {
    box-sizing: border-box;
}

body {
    background: url(https://subtlepatterns.com/patterns/noise_lines.png);
    font-family: var(--font-family);
    color: var(--font-color);
    overflow-y: auto;
    padding-bottom: 50px;
    text-align: center;
}

.overlay {
    background: var(--background-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    position: relative;
    margin: 120px auto 0 auto;
    width: 320px;
}

.icon {
    display: block;
    width: 320px;
    height: 320px;
}

.open .icon {
    animation: open 4s;
    transform: scale(10);
}

.icon .title {
    position: absolute;
    top: 50%;
    left: 63%;
    margin-left: -95px;
    margin-top: -73px;
    z-index: 4;
    font-size: var(--title-size);
    font-family: var(--font-family);
    color: var(--title-color);
    cursor: pointer;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.open .icon .title {
    opacity: 0;
    transition: all 0.3s ease;
    top: -100px;
}

.icon::before,
.icon::after,
.icon2::before,
.icon2::after {
    position: absolute;
    top: 0;
    left: 0;
}

.icon::before,
.icon::after,
.icon2::before,
.icon2::after {
    display: block;
    font-size: var(--icon-size);
    color: var(--icon-color);
    content: "\f004";
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon2::before,
.icon2::after {
    color: var(--icon-color);
}

.icon::before {
    z-index: 3;
}

.icon::after {
    animation: explode 4s infinite;
    -webkit-animation: explode 4s infinite;
}


.icon2::before {
    animation: explodeSmall 3s infinite;
    -webkit-animation: explodeSmall 3s infinite;
}

.icon2::after {
    animation: explodeSmall 2s infinite;
    -webkit-animation: explodeSmall 2s infinite;
}


.text {
    opacity: 0;
    position: absolute;
    top: -100px;
    width: 100%;
}

.open .text {
    top: 0;
    opacity: 1;
    animation: show 5s;
    -webkit-animation: show 5s;
}

.text .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.text h1,
.text h2,
.text h3 {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: normal;
}

.text h1 {
    font-size: var(--text-size);
    color: var(--text-color);
}

.text h2 {
    font-size: calc(var(--text-size) * 0.6);
    color: var(--text-color);
}

.text h3 {
    font-size: calc(var(--text-size) * 0.4);
    color: var(--text-color);
}


@keyframes explode {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.6);
        opacity: 0;
    }
}

@-webkit-keyframes explode {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes explodeSmall {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes explodeSmall {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.2);
        opacity: 0;
    }
}


@keyframes open {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(10);
    }
}

@-webkit-keyframes open {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(10);
    }
}

@keyframes show {
    from {
        opacity: 0;
        top: -100px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@-webkit-keyframes show {
    from {
        opacity: 0;
        top: -100px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

body {
    background-color: #fff;
    text-align: center;
    font-family: 'Arial', sans-serif;
    overflow-y: auto;
    padding-bottom: 50px;
}
.container {
    margin-top: 50px;
}


.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 350px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s, opacity 0.5s;
    position: relative;
    overflow: hidden;
    animation: float 3s infinite alternate ease-in-out;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s, opacity 0.5s;
}

.card:hover {
    transform: rotate(5deg) scale(1.1);
}

@keyframes float {
    from { transform: translateY(0px); }
    to { transform: translateY(-10px); }
}

.card .note {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    border-radius: 15px;
}

.card .note.color1 { background-color: #Fff1f1; }  
.card .note.color2 { background-color: #FBCFE5; }  
.card .note.color3 { background-color: #EE71AB; }  
.card .note.color4 { background-color: #FF4F84; }  
.card .note.color5 { background-color: #E9A7BB; }  
.card .note.color6 { background-color: #CD003E; }  
.valentine-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    position: relative;
    margin-top: 50px;
}

.valentine-card {
    position: relative;
    width: 350px;
    height: 225px;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 222, 227);
    text-align: center;
    cursor: pointer;
}

.valentine-text-container {
    width: 80%;
    height: 80%;
    margin: auto;
}

.valentine-text-container .valentine-header {
    font-size: 1.5rem;
    margin: 60px auto;
}

.valentine-card p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: #331717;
    font-style: italic;
    text-align: center;
    margin: 30px auto;
}

.valentine-front {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid rgb(238, 77, 104);
    backface-visibility: hidden;
    background-color: white;
    background-size: contain;
    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    transform: perspective(800px) rotateX(0deg);
    transition: all 0.8s ease-in-out;
}

.valentine-card:hover .valentine-front {
    transform: perspective(800px) rotateX(170deg);
}